.cart-button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: white;
  margin: 10px;
}

.cart-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 100px;
}

.cart-items {
  grid-column: 1/3;
  padding-left: 100px;
  padding-top: 60px;
}

.payment-info {
  margin: 40px;
}