* {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

main {
  padding: 20px 10px 200px 10px;
}

nav {
  background-color: rgb(164, 8, 8);
}

nav img {
  border-radius: 20px;
}

.sneaker-index-link {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: white;
  margin: 10px;
  cursor: pointer;
}

.index-img,
.home-img,
.details-img {
  object-fit: cover;
}

.index-img:hover {
  animation: rotate 10s infinite linear;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.dropdown-buttons {
  display: flex;
  position: absolute;
  gap: 1030px;
  top: 250px;
}

.sneaker-new-button {
  position: absolute;
  bottom: 0;
  right: 60px;
  padding: 10px;
  background-color: white;
  margin: 10px;
}

.cart-button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: white;
  margin: 10px;
}

.cart-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 100px;
}

.cart-items {
  grid-column: 1/3;
  padding-left: 100px;
  padding-top: 60px;
}

.payment-info {
  margin: 40px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
}

.sneaker-index-link:hover,
.sneaker-new-button:hover {
  background-color: rgb(187, 105, 112);
}

.sneakers-index {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
}

.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 100px;
  border-radius: 100%;
  background: #c30a0a;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s;
}

.hidden {
  opacity: 0%;
}

.back-to-top-icon {
  width: 1rem;
  height: 1rem;
  color: #ffffff;
}

.sneakers-card {
  border: 1px solid;
  padding: 40px;
  box-shadow: rgba(219, 9, 9, 0.4) 0px 5px, rgba(203, 24, 8, 0.3) 0px 10px,
    rgba(202, 45, 9, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
}

.sneakers-card a:hover,
.home-page a:hover {
  color: red;
}

.sneaker-details {
  padding: 10px;
  box-shadow: rgb(164, 4, 4) 6px 6px 6px 30px;
}

.details-img:hover {
  height: 300px;
  width: 350px;
}

.sneaker-color {
  height: 20px;
  width: 20px;
  border: 1px solid;
  border-radius: 300px;
}

.sneaker-size {
  font-size: xx-large;
  position: absolute;
  right: 570px;
  top: 680px;
  border: 2px solid;
  border-radius: 40px;
  padding: 10px;
  background-color: #dc6b6b;
}

.sneaker-condition {
  font-size: xx-large;
  position: absolute;
  color: rgb(145, 28, 28);
}

article {
  margin: 100px 300px 100px 200px;
}

.add-item-details {
  /* position: absolute; */
  /* position: ; */
  right: 510px;
  bottom: 300px;
}

.home-page {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.article-1 {
  grid-column: 1/5;
}

.article-2 {
  margin-right: 80px;
  margin-top: 70px;
}

.slogan::after {
  content: "";
  display: block;
  margin: 0 auto;
  border-bottom: 3px solid;
  padding-bottom: 20px;
  width: 70%;
}

.home-page-featured {
  border: 3px solid;
  padding: 50px 0;
  margin: 0 150px;
  box-shadow: rgba(185, 11, 16, 0.4) 0px 5px, rgba(206, 10, 10, 0.3) 0px 10px,
    rgba(208, 1, 1, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
  border-radius: 30px;
}

.card-body {
  display: grid;
  grid-template-columns: 6fr 1fr;
}

.reviews-section {
  margin-top: 100px;
  margin-right: 40px;
}

ul {
  list-style: "- ";
}

.comment-section {
  border: 2px solid;
  padding: 20px;
  background-color: rgb(200, 199, 198);
  border-radius: 30px;
}

.show-buttons {
  flex-direction: row-reverse;
  padding-right: 190px;
  column-gap: 20px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  border: none;
  border-bottom: 2px solid rgb(220, 42, 42);
}

.form-img {
  position: absolute;
  right: 50px;
  top: 270px;
}

.fourofour-link {
  color: red;
}

.fourofour-link:hover {
  color: #696969;
}

.fourofour-img {
  border-radius: 30px;
}

#footer {
  background-color: rgb(164, 8, 8);
  margin-top: 200px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-style: solid;
  border-color: black;
  border: solid;
}

#footer ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 5px 0px 5px;
  list-style-type: none;
  color: rgba(255, 255, 255, 0.883);
  align-items: center;
}

#footer ul a {
  font-size: medium;
}

#footer ul a:hover {
  color: rgba(255, 255, 255, 0.883);
}
