/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

nav {
  background-color: rgb(164, 8, 8);
}

nav img {
  border-radius: 20px;
}

.sneaker-index-link {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: white;
  margin: 10px;
  cursor: pointer;
}

.sneaker-new-button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: white;
  margin: 10px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
}

.sneaker-index-link:hover, .sneaker-new-button:hover {
  background-color: rgb(187, 105, 112);
}