main {
  padding: 20px 10px 200px 10px;
}

nav {
  background-color: rgb(164, 8, 8);
}

nav img {
  border-radius: 20px;
}

.sneaker-index-link {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: white;
  margin: 10px;
  cursor: pointer;
}

.sneaker-new-button {
  position: absolute;
  bottom: 0;
  right: 60px;
  padding: 10px;
  background-color: white;
  margin: 10px;
}

.cart-button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: white;
  margin: 10px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
}

.sneaker-index-link:hover,
.sneaker-new-button:hover {
  background-color: rgb(187, 105, 112);
}

.sneakers-index {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
  /* justify-content: center; */
  /* align-items: center; */
}

.sneakers-card {
  border: 1px solid;
  padding: 40px;
  box-shadow: rgba(219, 9, 9, 0.4) 0px 5px, rgba(203, 24, 8, 0.3) 0px 10px,
    rgba(202, 45, 9, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
}

.sneakers-card a:hover,
.home-page a:hover {
  color: red;
}

.sneaker-details {
  /* padding: 0px 20px 0px 0px; */
  padding: 10px;
  box-shadow: rgb(164, 4, 4) 6px 6px 6px 30px;
}

article {
  margin: 100px 300px 100px 200px;
  /* padding: 100px; */
}

.slogan::after {
  content: "";
  display: block;
  margin: 0 auto;
  border-bottom: 3px solid;
  padding-bottom: 20px;
  width: 50%;
}

.home-page-featured {
  border: 3px solid;
  padding: 50px 0;
  margin: 0 400px;
}

.show-buttons {
  flex-direction: row-reverse;
  padding-right: 350px;
  column-gap: 20px;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid rgb(220, 42, 42);
}

.form-img {
  position: absolute;
  right: 50px;
  top: 270px;
}

#footer {
  background-color: rgb(164, 8, 8);
  margin-top: 200px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-style: solid;
  border-color: black;
  border: solid;
}

#footer ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 5px 0px 5px;
  list-style-type: none;
  color: rgba(255, 255, 255, 0.883);
  align-items: center;
}

#footer ul a {
  font-size: medium;
}

#footer ul a:hover {
  color: rgba(255, 255, 255, 0.883);
}
